name: Latest blog post workflow
on:
  schedule:  # run workflow automatically
    - cron: '0 0 * * *'  # run every day
  workflow_dispatch:  # for manual running, through Github Actions
jobs:
  update-readme-with-blog-post:
    name: Update readme with latest blog posts
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: julienbarrier/blog-post-workflow@master
        with:
          feed_list: "https://julienbarrier.eu/feed.xml"
          max_post_count: 5
          committer_username: "julienbarrier"
          committer_email: "1346858+julienbarrier@users.noreply.github.com"
          commit_message: "updated readme with blog post"
          template: "$newline* [$title]($url) - $date"
          date_format: "d mmm yyyy"
